<!DOCTYPE html>
<html lang="es">
<head>
<title>{% block title %} {% endblock %} - Ancaor</title>
{% block head %}
<!-- Metas -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, user-scalable=no">
<base href="{{BASE}}" target="_self" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="Author" content="{{AUTHOR}}" />
<meta property='og:locale' content='es_ES'/>
<meta property='og:type' content='website'/>
<meta property='og:url' content="{{ BASE }}">
<meta property='og:image' content="./images/ancaor/logo_ancaor(128x128).png">
<meta property='og:site_name' content='{{ WEBSITE }}'/>
<meta name="robots" content="index,follow">
<meta name="description" content="Ancaor, Lykrune Art, RunceCube Dev">
<meta name="keywords" content="Anthony Cajacuri Ordoñez, Ancaor, Programación, Lykrune, Design, Diseño Web">
<!-- Favicon -->
<link rel="icon" type="image/png" href="./images/favicon/Ancaor2017.ico">
<meta name="msapplication-TileColor" content="#0E2F80">
<meta name="msapplication-TileImage" content="images/favicon/logo_ancaor(32x32).ico">
<meta name="theme-color" content="#FF3131">
<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="{{DIR_LIBS}}bootstrap4/css/bootstrap.css">
<!-- Material Bootstrap -->
<link rel="stylesheet" type="text/css" href="{{DIR_LIBS}}bootstrap-material-design/css/bootstrap-material-design.min.css">
<!-- SWIPER -->
<link rel="stylesheet" type="text/css" href="{{DIR_LIBS}}swiper/css/swiper.min.css">
<!-- Fontello -->
<link rel="stylesheet" type="text/css" href="./css/fontello/css/fontello.css">
<!-- ESTILOS -->
<link rel="stylesheet" type="text/css" href="./css/normalize.css">
<link rel="stylesheet" type="text/css" href="./css/ancaor/fonts/fonts.css?id={{random()}}">
<link rel="stylesheet" type="text/css" href="./css/main.css?id={{random()}}">
<!-- <link rel="stylesheet" type="text/css" href="./css/animaciones.css?id={{random()}}"> -->
{% endblock %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-75222059-1', 'auto');
  ga('send', 'pageview');
</script>
</head>
<body>
{% block content %}{% endblock %}
<div>
	
</div>	
<!-- <a id="version" href="version" style="display: block;"> <i class="icon-info-circled"></i>Versión </a> -->
{% block footer %}
<div class="clearfix"></div>
 <div class="footer mt-4 bg-dark">
	asdasdas
</div>
{% endblock %}

{% block postfooter %}{% endblock %}
<script src="{{DIR_LIBS}}jquery/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{DIR_LIBS}}popper.js/popper.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{DIR_LIBS}}tether/js/tether.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{DIR_LIBS}}swiper/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{DIR_LIBS}}bootstrap-material-design/js/bootstrap-material-design.min.js" type="text/javascript" charset="utf-8"></script>

<script type="application/ld+json" charset="utf-8">
	{
	  "@context": "http://schema.org",
	  "@type": "Organization",
	  "name" : "Ancaor",
	  "email" : "contacto@ancaor.com",
	  "url": "{{ BASE }}",
	  "logo": "{{ BASE }}images/ancaor/logo_ancaor(128x128).png",
	  "founder" :"Anthony Cajacuri Ordoñez",
	  "description" : "Creado con el fin de mostrar mis conocimientos de Programación y Diseño Web"
	}
</script>
  <script>
    var swiper = new Swiper('.swiper-container', {
		// speed         : 600,
		delay         : 600,
		grabCursor    : true,
      	slidesPerView : 1,
      	spaceBetween  : 30,
      	loop          : true,
      	// effect        : 'fade',
		pagination: { el: '.swiper-pagination',
					  type: 'progressbar',
					   clickable: false},
      	navigation: { nextEl: '.swiper-button-next',
        			  prevEl: '.swiper-button-prev'},
    	preloadImages:true,
		autoplay: {
			delay: 1200,
		},
    });
  </script>
<script type="text/javascript">
//   $(document).ready(function () {
//     var mySwiper = new Swiper ('.swiper-container', {
// 		speed       : 600,
//       	parallax    : true,
//      	spaceBetween: 30,
//       	effect      : 'fade',
//       	pagination  : { el        : '.swiper-pagination',
// 			            clickable : true},
//       	navigation  : { nextEl: '.swiper-button-next',
// 					    prevEl: '.swiper-button-prev'},
// 		preloadImages:true
//     })
//   });
 </script>
<script src="./js/generales.js?id={{random()}}"></script>
<script src="./js/scroll.js?id={{random()}}"></script>
<script src="./js/cambios.js?id={{random()}}"></script>
<script src="./js/ajax.js?id={{random()}}"></script>
</body>
</html>

